# ======================================
# Python
# ======================================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/
project/
.venv/

# ======================================
# OS Files
# ======================================
.DS_Store
Thumbs.db

# ======================================
# Editor / IDE
# ======================================
.vscode/
.idea/

# ======================================
# Jupyter
# ======================================
.ipynb_checkpoints/

# ======================================
# Data (do NOT upload)
# ======================================
data/raw/
data/processed/

# ======================================
# Model Artifacts
# ======================================
artifacts/
*.pkl
*.joblib
*.json

# ======================================
# Gradio / FastAPI runtime
# ======================================
.gradio/
__gradio_cache__/

# ======================================
# Logs
# ======================================
logs/
*.log

# ======================================
# Env variables
# ======================================
.env
.env.*